<!DOCTYPE html>
<html lang="en">


   <head>
       <title>Ozzy the Orange Ostrich</title>
   </head>


   <body>
       {% if name %}
           <p>You are logged in as {{ Username }}. <a href="/logout">Log out</a>.</p>
       {% else %}
           <p style="display: inline;">You are not logged in. </p>
           <button type="button" onclick="window.location.href='/'">Log in</button>
       {% endif %}


       <h1>Register</h1>
       <form action="/register" method="post">
           <label for="Email">Email:</label>
           <input autocomplete="off" id="Email" name="Email" placeholder="Enter your email" type="Email" required>


           <label for="Username">Username:</label>
           <input autocomplete="off" id="Email" name="Username" placeholder="Enter your username" type="Username" required>


           <label for="Password">Password:</label>
           <input autocomplete="off" id="Password" name="Password" placeholder="Enter your password" type="Password" required>


           <label for="password_repeat">Repeat Password:</label>
           <input autocomplete="off" id="password_repeat" name="password_repeat" placeholder="Repeat your password" type="Password" required>


           <button type="submit">Register</button>
       </form>
   </body>


</html>
